* {
  font-family: sans-serif;
}
.body-margin {
  margin: 5.12vw;
}



/** Estilos del menu **/

.menu {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-end;
}

.menu-lista {
  grid-column: span 2;
  margin-left: 17.56vw;
  list-style: none;
  display: flex;
  flex-direction: row;
  border-top: 2px solid #9B9B9B;
  width: 32.2vw;
  padding: 0px;
  
}

.menu-elemento {
  font-family: 'Avenir Medium';
  font-size: 1.31vw;
  letter-spacing: 0.05em;
  color: #ababab;
  padding: 10px 8px 8px 8px;
  border: 2px;
}

.menu-elemento:hover {
  cursor: pointer;
  background: #35bf42;
  color: white;
  transition: all 0.5s;
  letter-spacing: 0.1em;
}

#menu-somos {
  margin: -2px auto 0 0;
  border-radius: 0 0 0 10px;
}

#menu-servicios {
  margin: -2px auto 0 0 ;
}

#menu-contactanos {
  margin: -2px 0 0 auto;
  border: 2px solid #9B9B9B;
  border-radius: 0 0 10px 0;
}


.logo-menu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.logo-menu img {
  margin: 0 0 36px;
  height: 70px;  
}

/** Estilos del Slider **/

.slider {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 120px;
}

.slider img {
  width: 54vw;
  margin: 25px 0 0;
}

.tenemos {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-left: -9.15vw;
}

.tenemos h1 {
  font-family: 'Avenir';
  font-weight: 'Roman';
  font-size: 3.8vw;
  line-height: 1.20em;
  color: #35bf42;
}
.tenemos h1 span {
  font-family: 'Avenir';
  font-weight: 800;
}


.tenemos h2 {
  font-family: 'Avenir';
  font-size: 2.20vw;
  color: #9B9B9B;
}

/** Estilos de la info de la Galeria **/

.galeria-info {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1.1fr 0.8fr;
  align-items: flex-end;
}

.servicios-info {
  display: grid;
  grid-gap: 40px;
  grid-template-rows: repeat(3, auto);
}

.seccion-info {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 24vw 26vw;
}

.galeria-info h3 {
  padding-top: 0;
  font-family: 'Avenir';
  font-weight: 800;
  color: #35bf42;
  font-size: 1.97vw;
}

.tipos-proyectos {
  margin-top: 40px;
}

.tipos-proyectos li {
  font-family: 'Avenir Medium';
  font-size: 2.20vw;
  color: #35bf42;
  font-size: 1.22vw;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.icono-subtitulo {
  height: 1.54vw;
}

.subtitulo-servicio {
  display: inline;
  margin-left: 3px;
}


/** Estilos de la de la Galeria **/

.galeria {
  height: 590px;
  position: relative;
}

.esquina {
  width: 150px;
}

.esquina.inferior {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: scale(-1);
}

.contenido-galeria {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 400px;
  height: 540px;
  margin: 50px;
  display: grid;
  grid-gap: 20px;
  grid-template: repeat(4, 1fr) / repeat(3, 1fr);
}

.cuadro-galeria:hover {
  transform: scale(1.2);
  transition: all 0.5s ease-out;
}

.cuadro-galeria {
  background: grey;
  z-index: 3;
}

