* {
  font-family: sans-serif;
}
.body-margin {
  padding: 5.12vw;
  overflow: hidden;

}



/** Estilos del menu **/

.menu {
  position: relative;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "menu menu logo";
  align-items: flex-end;
}

.menu-lista {
  position: relative;
  grid-area: menu;
  margin-left: 17.56vw;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 2px solid #9B9B9B;
  width: 32.2vw;
  padding: 0px;
  
}

.menu-elemento {
  display: grid;
}

.menu-elemento a {
  position: relative;
  font-family: 'Avenir Medium';
  font-size: 1.31vw;
  letter-spacing: 0.05em;
  color: #ababab;
  padding: 10px 8px 8px 8px;
  border: 2px;
  text-decoration: none;
  overflow: hidden;
  transition: all 0.5s;
}



.menu-elemento a:hover {
  cursor: pointer;
  color: white;
  transition: all 0.5s;
  letter-spacing: 0.1em;
}

.barra {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  visibility: hidden;
  background: #35bf42;
  transition: all 0.5s;
  z-index: -1;
}

.barra.on {
  visibility: visible;
  width: 100%;
}


.menu-elemento.on {
  color: white;
  transition: all 0.5s;
  letter-spacing: 0.1em;
}

#menu-somos a {
  margin: -2px auto 0 0;
  border-radius: 0 0 0 10px;
}

#menu-servicios a {
  margin: -2px auto 0 0 ;
}

#menu-contactanos a {
  margin: -2px 0 0 auto;
  border: 2px solid #9B9B9B;
  border-radius: 0 0 10px 0;
}


.logo-menu {
  grid-area: logo;
  width: 100%;
  display: flex
}

.logo-menu a {
  margin: 0 0 36px auto;
  
}

.logo-menu img {
  height: 70px;  
}

/** Estilos del Slider **/

.slider {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 120px;
}


.imagen-slider {
  width: 54vw;
  position: relative;
  
}

.contenedor-imagen-slider-inicio {
  width: 54vw;
  overflow: hidden;
  transition: all 1.4s ease-in;
}

.contenedor-imagen-slider-inicio.off{
  width: 0;
  transition: all 1.4s ease-in;
}


.contenedor-imagen-slider-somos {
  top: 0;
  z-index: -1;
  position: absolute;
  width: 54vw;
  overflow: hidden;
}

.slider img {
  width: 54vw;
  margin: 25px 0 0;
}

.somos-tenemos {
  width: 42.899vw;
  margin-left: -9.15vw;
  overflow: hidden;
}

.contenedor-somos-tenemos {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 42.899vw);
  transition: all 1.4s ease-in;
}

.contenedor-somos-tenemos.desliza {
  margin-left: -42.899vw;
  transition: all 1.4s ease-in;
}

.contenedor-tenemos-texto {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  transition: all 1.6s ease-in;
  overflow: hidden;
}

.contenedor-tenemos-texto.off {
  transition: all 1s ease-in;
  transform: scale(0.8);
  opacity: 0;
}

.contenedor-somos-texto {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  overflow: hidden;
}

.titulo-tenemos, .titulo-somos {
  font-family: 'Avenir';
  font-size: 3.8vw;
  line-height: 1.20em;
  color: #35bf42;
}

.titulo-somos {
  text-indent: 20%;
  opacity: 0;
  transition: all 1s ease-out 2s;
  overflow: hidden;
  text-overflow: fade;
  white-space: nowrap;
}
.titulo-somos.on{
 text-indent: 0;
 opacity: 1;
 transition: all 1s ease-out 2s;
 overflow: hidden;
 text-overflow: fade;
 white-space: nowrap;
}

.titulo-somos-bold {
  text-indent: 20%;
  opacity: 0;
  transition: all 1s ease-out 2.5s;
  overflow: hidden;
  text-overflow: fade;
  white-space: nowrap;
}

.titulo-somos-bold.on{
 text-indent: 0;
 opacity: 1;
 transition: all 1s ease-out 2.5s;
 overflow: hidden;
 text-overflow: fade;
 white-space: nowrap;
}


.contenedor-somos-texto h2 {
  text-indent: 20%;
  opacity: 0;
  transition: all 1s ease-out 3s;
  overflow: hidden;
  text-overflow: fade;
  white-space: nowrap;
}

.contenedor-somos-texto h2.on{
 text-indent: 0;
 opacity: 1;
 transition: all 1s ease-out 3s;
 overflow: hidden;
 text-overflow: fade;
 white-space: nowrap;
}




.titulo-tenemos-bold, .titulo-somos-bold {
  position: relative;
  font-family: 'Avenir Black';
  font-weight: 800;
  font-size: 3.8vw;
  line-height: 1.20em;
  color: #35bf42;
}

.slider-titulo {
  display: inline-block;
}

.slider-titulo span {
  position: absolute;
  top: 0;
  overflow: hidden;
  animation: desliza-texto 15s linear infinite;
  opacity: 0;
}

.slider-titulo span:nth-child(1) {
  animation-delay: 0s;
}

.slider-titulo span:nth-child(2) {
  animation-delay: 3s;
}

.slider-titulo span:nth-child(3) {
  animation-delay: 6s;
}

.slider-titulo span:nth-child(4) {
  animation-delay: 9s;
}

.slider-titulo span:nth-child(5) {
  animation-delay: 12s;
}




@keyframes desliza-texto {
  0% {
    opacity: 0;
    transform: translateY(-31px);
  }
  2% {
    opacity: 1;
    transform: translateY(0px);
  }
  18% {
    opacity: 1;
    transform: translateY(0px);
  }
  20% {
    opacity: 0;
    transform: translateY(31px);
  }
  100% {
    opacity: 0;
    transform: translateY(31px);
  }
}

.somos-tenemos h2 {
  z-index: 2;
  font-family: 'Avenir';
  font-size: 2.20vw;
  color: #9B9B9B;
}

/** Estilos de la info de la Galeria **/

.galeria-info {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1.1fr 0.8fr;
}

.servicios-info {
  display: grid;
  padding-top: 60px;
  grid-gap: 40px;
  grid-template-rows: 170px 140px 170px;
}

.seccion-info {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 24vw 26vw;
}

.galeria-info h3 {
  padding-top: 0;
  font-family: 'Avenir';
  font-weight: 800;
  color: #35bf42;
  font-size: 1.97vw;
}

.tipos-proyectos {
  margin-top: 40px;
  transition: all 0.5s;
}

.tipos-proyectos li {
  font-family: 'Avenir Medium';
  font-size: 2.20vw;
  color: #35bf42;
  font-size: 1.22vw;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  transition: all 0.5s;
}



.contenedor p {
  position: relative;
  transition: all 0.5s;
}

.barra-texto {
  top: 1.54vw;
  right: 0px;
  left: 0px;
  position: absolute;
  width: 0%;
  height: 2px;
  background: #35bf42;
  transition: 0.5s;
}

.barra-texto.on {
  width: 100%;
  transition: 0.5s;
}


.tipos-proyectos li .contenedor {
  display: flex;
  align-items: center;
}

.icono-subtitulo {
  height: 1.54vw;
}

.subtitulo-servicio {
  display: inline;
  margin-left: 3px;
}


/** Estilos de globos de texto de cada servicio **/

.tipos-proyectos li p, img:hover {
  cursor: pointer;
}


.descripcion {
  visibility: hidden;
  width: 270px;
  opacity: 0;
  transition: all 0.6s ease-in;
  position: absolute;
  padding: 20px;
  background: #35bf42;
  color: white;
  margin-left: -331px;
  margin-top: 85px;
  border-radius: 5px;
  box-shadow: 10px 10px 10px -5px rgba(0,0,0,0.62);
  transform: scale(0.9);
}

.descripcion:hover {
  cursor: auto;
}

.descripcion.on{
  visibility: visible;
  width: 270px;
  opacity: 1;
  transition: all 0.6s ease-in;
  position: absolute;
  padding: 20px;
  background: #35bf42;
  color: white;
  margin-left: -331px;
  margin-top: 85px;
  border-radius: 5px;
  box-shadow: 10px 10px 10px -5px rgba(0,0,0,0.62);
  transform: scale(1);
}


/** Estilos de la de la Galeria **/

.galeria {
  width: 500px;
  height: 640px;
  position: relative;
  overflow: hidden;
}

.esquina {
  position: absolute;
  height: 100px;
}

.esquina.inferior {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: scale(-1);
}

#contenido-galeria {
  display: grid;
  grid-template-columns: repeat(8, 140px);
}

.contenido-galeria-limites {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 420px;
  height: auto;
  margin: 40px;
  overflow: hidden;
}

.cuadro-galeria:hover {
  transform: scale(1.2);
}

.cuadro-galeria {
  background-size: cover;
  background: grey;
  z-index: 3;
  margin: 10px;
  transition: all 0.5s ease-out;
}

#btn-prev, #btn-next {
  width: 35px;
  height: 35px;
  background: hsla(126, 57%, 48%, 0.7);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: 35px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  text-justify: auto;
  border-radius: 50%;
  font-family: monospace;
  cursor: pointer;
  color: white;
  transition: all 0.3s ease-in;  
}

#btn-prev:hover, #btn-next:hover {
  background: hsl(126, 57%, 48%);
}

#btn-prev {
  left: 0px
}

#btn-next {
  right: 0px;
}

/** Estilos de cada cuadro de la Galeria **/

section {
  transition: all 1.15s ease-out;
}

section.off {
  transition: all 0.4s ease-out;
  transform: scale(0.85);
  opacity: 0;
}

.col1 {
  display: grid;
  grid-template-rows: repeat(4, 140px);
}

.col2 {
  display: grid;
  grid-template-rows: repeat(4, 140px);
}

.col3 {
  display: grid;
  grid-template-rows: repeat(4, 140px);
}

.col4 {
  display: grid;
  grid-template-rows: repeat(4, 140px);
}

#galeria-imagen1 {
  
  background: url(img/galeria/col-1-1.jpeg);
  background-size: cover;
}

#galeria-imagen2 {
  
  background:  url(img/galeria/col-1-2.jpeg);
  background-size: cover;
}

#galeria-imagen3 {
  
  background: url(img/galeria/col-1-3.jpeg);
  background-size: cover;
}

#galeria-imagen4 {
  
  background: url(img/galeria/col-1-4.jpeg);
  background-size: cover;
}

#galeria-imagen5 {
  
  background: url(img/galeria/col-2-1.jpeg);
  background-size: cover;
}

#galeria-imagen6 {
  
  background: url(img/galeria/col-2-2.jpeg);
  background-size: cover;
}

#galeria-imagen7 {
  
  background: url(img/galeria/col-2-3.jpeg);
  background-size: cover;
}

#galeria-imagen8 {
  
  background: url(img/galeria/col-2-4.jpeg);
  background-size: cover;
}

#galeria-imagen9 {
  
  background:  url(img/galeria/col-3-1.jpeg);
  background-size: cover;
}

#galeria-imagen10 {
  
  background: url(img/galeria/col-3-2.jpeg);
  background-size: cover;
}

#galeria-imagen11 {
  
  background: url(img/galeria/col-3-3.jpeg);
  background-size: cover;
}

#galeria-imagen12 {
  
  background: url(img/galeria/col-3-4.jpeg);
  background-size: cover;
}

#galeria-imagen13 {
  
  background: url(img/galeria/col-4-1.jpeg);
  background-size: cover;
}

#galeria-imagen14 {
  
  background: url(img/galeria/col-4-2.jpeg);
  background-size: cover;
}

#galeria-imagen15 {
  
  background: url(img/galeria/col-4-3.jpeg);
  background-size: cover;
}

#galeria-imagen16 {
  
  background: url(img/galeria/col-4-4.jpeg);
  background-size: cover;
}



/** Barra final **/

.barra-final {
  position: relative;
  display: flex;
  width: 100%;
  height: 195px;
  background-color: #35bf42;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icono-blanco {
  height: 60px;
}

.escribenos {
  display: flex;
  align-items: center;
}

.escribenos p {
  display: inline;
  font-family: 'Avenir';
  font-size: 21px;
  color: white;
}

.escribenos p a {
  font-family: 'Avenir Black';
  text-decoration: none;
  color: white;
}

.lima-peru {
  margin-top: 20px;
  font-family: 'Avenir Black';
  font-size: 19px;
  color: white;
}
.copyright {
  font-family: 'Avenir';
  font-size: 15px;
  color: white;
  position: absolute;
  left: 50px;
  bottom: 15px;
}

.powered {
  font-family: 'Avenir';
  font-size: 15px;
  color: white;
  position: absolute;
  right: 50px;
  bottom: 15px;
}

@media (min-width: 1367px) {
  * {
    font-family: sans-serif;
  }
  .body-margin {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 69px;
    padding-bottom: 69px;
    width: 1209px;
    overflow: hidden;
  
  }
  
  
  
  /** Estilos del menu **/
  
  .menu {
    position: relative;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "menu menu logo";
    align-items: flex-end;
  }
  
  .menu-lista {
    position: relative;
    grid-area: menu;
    margin-left: 239px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 2px solid #9B9B9B;
    width: 439px;
    padding: 0px;
    
  }
  
  .menu-elemento {
    display: grid;
  }
  
  .menu-elemento a {
    position: relative;
    font-family: 'Avenir Medium';
    font-size: 17px;
    letter-spacing: 0.05em;
    color: #ababab;
    padding: 10px 8px 8px 8px;
    border: 2px;
    text-decoration: none;
    overflow: hidden;
    transition: all 0.5s;
  }
  
  
  
  .menu-elemento a:hover {
    cursor: pointer;
    color: white;
    transition: all 0.5s;
    letter-spacing: 0.1em;
  }
  
  .barra {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    visibility: hidden;
    background: #35bf42;
    transition: all 0.5s;
    z-index: -1;
  }
  
  .barra.on {
    visibility: visible;
    width: 100%;
  }
  
  
  .menu-elemento.on {
    color: white;
    transition: all 0.5s;
    letter-spacing: 0.1em;
  }
  
  #menu-somos a {
    margin: -2px auto 0 0;
    border-radius: 0 0 0 10px;
  }
  
  #menu-servicios a {
    margin: -2px auto 0 0 ;
  }
  
  #menu-contactanos a {
    margin: -2px 0 0 auto;
    border: 2px solid #9B9B9B;
    border-radius: 0 0 10px 0;
  }
  
  
  .logo-menu {
    grid-area: logo;
    width: 100%;
    display: flex
  }
  
  .logo-menu a {
    margin: 0 0 36px auto;
    
  }
  
  .logo-menu img {
    height: 70px;  
  }
  
  /** Estilos del Slider **/
  
  .slider {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 120px;
  }
  
  
  .imagen-slider {
    width: 737px;
    position: relative;
    
  }
  
  .contenedor-imagen-slider-inicio {
    width: 737px;
    overflow: hidden;
    transition: all 1.4s ease-in;
  }
  
  .contenedor-imagen-slider-inicio.off{
    width: 0;
    transition: all 1.4s ease-in;
  }
  
  
  .contenedor-imagen-slider-somos {
    top: 0;
    z-index: -1;
    position: absolute;
    width: 737px;
    overflow: hidden;
  }
  
  .slider img {
    width: 737px;
    margin: 25px 0 0;
  }
  
  .somos-tenemos {
    width: 586px;
    margin-left: -125px;
    overflow: hidden;
  }
  
  .contenedor-somos-tenemos {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 586px);
    transition: all 1.4s ease-in;
  }
  
  .contenedor-somos-tenemos.desliza {
    margin-left: -586px;
    transition: all 1.4s ease-in;
  }
  
  .contenedor-tenemos-texto {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    transition: all 1.6s ease-in;
    overflow: hidden;
  }
  
  .contenedor-tenemos-texto.off {
    transition: all 1s ease-in;
    transform: scale(0.8);
    opacity: 0;
  }
  
  .contenedor-somos-texto {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    overflow: hidden;
  }
  
  .titulo-tenemos, .titulo-somos {
    font-family: 'Avenir';
    font-size: 51px;
    line-height: 1.20em;
    color: #35bf42;
  }
  
  .titulo-somos {
    text-indent: 20%;
    opacity: 0;
    transition: all 1s ease-out 2s;
    overflow: hidden;
    text-overflow: fade;
    white-space: nowrap;
  }
  .titulo-somos.on{
   text-indent: 0;
   opacity: 1;
   transition: all 1s ease-out 2s;
   overflow: hidden;
   text-overflow: fade;
   white-space: nowrap;
  }
  
  .titulo-somos-bold {
    text-indent: 20%;
    opacity: 0;
    transition: all 1s ease-out 2.5s;
    overflow: hidden;
    text-overflow: fade;
    white-space: nowrap;
  }
  
  .titulo-somos-bold.on{
   text-indent: 0;
   opacity: 1;
   transition: all 1s ease-out 2.5s;
   overflow: hidden;
   text-overflow: fade;
   white-space: nowrap;
  }
  
  
  .contenedor-somos-texto h2 {
    text-indent: 20%;
    opacity: 0;
    transition: all 1s ease-out 3s;
    overflow: hidden;
    text-overflow: fade;
    white-space: nowrap;
  }
  
  .contenedor-somos-texto h2.on{
   text-indent: 0;
   opacity: 1;
   transition: all 1s ease-out 3s;
   overflow: hidden;
   text-overflow: fade;
   white-space: nowrap;
  }
  
  
  
  
  .titulo-tenemos-bold, .titulo-somos-bold {
    position: relative;
    font-family: 'Avenir Black';
    font-weight: 800;
    font-size: 51px;
    line-height: 1.20em;
    color: #35bf42;
  }
  
  .slider-titulo {
    display: inline-block;
  }
  
  .slider-titulo span {
    position: absolute;
    top: 0;
    overflow: hidden;
    animation: desliza-texto 15s linear infinite;
    opacity: 0;
  }
  
  .slider-titulo span:nth-child(1) {
    animation-delay: 0s;
  }
  
  .slider-titulo span:nth-child(2) {
    animation-delay: 3s;
  }
  
  .slider-titulo span:nth-child(3) {
    animation-delay: 6s;
  }
  
  .slider-titulo span:nth-child(4) {
    animation-delay: 9s;
  }
  
  .slider-titulo span:nth-child(5) {
    animation-delay: 12s;
  }
  
  
  
  
  @keyframes desliza-texto {
    0% {
      opacity: 0;
      transform: translateY(-31px);
    }
    2% {
      opacity: 1;
      transform: translateY(0px);
    }
    18% {
      opacity: 1;
      transform: translateY(0px);
    }
    20% {
      opacity: 0;
      transform: translateY(31px);
    }
    100% {
      opacity: 0;
      transform: translateY(31px);
    }
  }
  
  .somos-tenemos h2 {
    z-index: 2;
    font-family: 'Avenir';
    font-size: 30px;
    color: #9B9B9B;
  }
  
  /** Estilos de la info de la Galeria **/
  
  .galeria-info {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1.1fr 0.8fr;
  }
  
  .servicios-info {
    display: grid;
    padding-top: 60px;
    grid-gap: 40px;
    grid-template-rows: 170px 140px 170px;
  }
  
  .seccion-info {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 327px 355px;
  }
  
  .galeria-info h3 {
    padding-top: 0;
    font-family: 'Avenir';
    font-weight: 800;
    color: #35bf42;
    font-size: 26px;
  }
  
  .tipos-proyectos {
    margin-top: 40px;
    transition: all 0.5s;
  }
  
  .tipos-proyectos li {
    font-family: 'Avenir Medium';
    color: #35bf42;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    transition: all 0.5s;
  }
  
  
  
  .contenedor p {
    position: relative;
    transition: all 0.5s;
  }
  
  .barra-texto {
    top: 21px;
    right: 0px;
    left: 0px;
    position: absolute;
    width: 0%;
    height: 2px;
    background: #35bf42;
    transition: 0.5s;
  }
  
  .barra-texto.on {
    width: 100%;
    transition: 0.5s;
  }
  
  
  .tipos-proyectos li .contenedor {
    display: flex;
    align-items: center;
  }
  
  .icono-subtitulo {
    height: 21px;
  }
  
  .subtitulo-servicio {
    display: inline;
    margin-left: 3px;
  }
  
  
  /** Estilos de globos de texto de cada servicio **/
  
  .tipos-proyectos li p, img:hover {
    cursor: pointer;
  }
  
  
  .descripcion {
    visibility: hidden;
    width: 270px;
    opacity: 0;
    transition: all 0.6s ease-in;
    position: absolute;
    padding: 20px;
    background: #35bf42;
    color: white;
    margin-left: -331px;
    margin-top: 85px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px -5px rgba(0,0,0,0.62);
    transform: scale(0.9);
  }
  
  .descripcion:hover {
    cursor: auto;
  }
  
  .descripcion.on{
    visibility: visible;
    width: 270px;
    opacity: 1;
    transition: all 0.6s ease-in;
    position: absolute;
    padding: 20px;
    background: #35bf42;
    color: white;
    margin-left: -331px;
    margin-top: 85px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px -5px rgba(0,0,0,0.62);
    transform: scale(1);
  }
  
  
  /** Estilos de la de la Galeria **/
  
  .galeria {
    width: 500px;
    height: 640px;
    position: relative;
    overflow: hidden;
  }
  
  .esquina {
    position: absolute;
    height: 100px;
  }
  
  .esquina.inferior {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: scale(-1);
  }
  
  #contenido-galeria {
    display: grid;
    grid-template-columns: repeat(8, 140px);
  }
  
  .contenido-galeria-limites {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 420px;
    height: auto;
    margin: 40px;
    overflow: hidden;
  }
  
  .cuadro-galeria:hover {
    transform: scale(1.2);
  }
  
  .cuadro-galeria {
    background-size: cover;
    background: grey;
    z-index: 3;
    margin: 10px;
    transition: all 0.5s ease-out;
  }
  
  #btn-prev, #btn-next {
    width: 35px;
    height: 35px;
    background: hsla(126, 57%, 48%, 0.7);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 35px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    text-justify: auto;
    border-radius: 50%;
    font-family: monospace;
    cursor: pointer;
    color: white;
    transition: all 0.3s ease-in;  
  }
  
  #btn-prev:hover, #btn-next:hover {
    background: hsl(126, 57%, 48%);
  }
  
  #btn-prev {
    left: 0px
  }
  
  #btn-next {
    right: 0px;
  }
  
  /** Estilos de cada cuadro de la Galeria **/
  
  section {
    transition: all 1.15s ease-out;
  }
  
  section.off {
    transition: all 0.4s ease-out;
    transform: scale(0.85);
    opacity: 0;
  }
  
  .col1 {
    display: grid;
    grid-template-rows: repeat(4, 140px);
  }
  
  .col2 {
    display: grid;
    grid-template-rows: repeat(4, 140px);
  }
  
  .col3 {
    display: grid;
    grid-template-rows: repeat(4, 140px);
  }
  
  .col4 {
    display: grid;
    grid-template-rows: repeat(4, 140px);
  }
  
  #galeria-imagen1 {
    
    background: url(img/galeria/col-1-1.jpeg);
    background-size: cover;
  }
  
  #galeria-imagen2 {
    
    background:  url(img/galeria/col-1-2.jpeg);
    background-size: cover;
  }
  
  #galeria-imagen3 {
    
    background: url(img/galeria/col-1-3.jpeg);
    background-size: cover;
  }
  
  #galeria-imagen4 {
    
    background: url(img/galeria/col-1-4.jpeg);
    background-size: cover;
  }
  
  #galeria-imagen5 {
    
    background: url(img/galeria/col-2-1.jpeg);
    background-size: cover;
  }
  
  #galeria-imagen6 {
    
    background: url(img/galeria/col-2-2.jpeg);
    background-size: cover;
  }
  
  #galeria-imagen7 {
    
    background: url(img/galeria/col-2-3.jpeg);
    background-size: cover;
  }
  
  #galeria-imagen8 {
    
    background: url(img/galeria/col-2-4.jpeg);
    background-size: cover;
  }
  
  #galeria-imagen9 {
    
    background:  url(img/galeria/col-3-1.jpeg);
    background-size: cover;
  }
  
  #galeria-imagen10 {
    
    background: url(img/galeria/col-3-2.jpeg);
    background-size: cover;
  }
  
  #galeria-imagen11 {
    
    background: url(img/galeria/col-3-3.jpeg);
    background-size: cover;
  }
  
  #galeria-imagen12 {
    
    background: url(img/galeria/col-3-4.jpeg);
    background-size: cover;
  }
  
  #galeria-imagen13 {
    
    background: url(img/galeria/col-4-1.jpeg);
    background-size: cover;
  }
  
  #galeria-imagen14 {
    
    background: url(img/galeria/col-4-2.jpeg);
    background-size: cover;
  }
  
  #galeria-imagen15 {
    
    background: url(img/galeria/col-4-3.jpeg);
    background-size: cover;
  }
  
  #galeria-imagen16 {
    
    background: url(img/galeria/col-4-4.jpeg);
    background-size: cover;
  }
  
  
  
  /** Barra final **/
  
  .barra-final {
    position: relative;
    display: flex;
    width: 100%;
    height: 195px;
    background-color: #35bf42;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .icono-blanco {
    height: 60px;
  }
  
  .escribenos {
    display: flex;
    align-items: center;
  }
  
  .escribenos p {
    display: inline;
    font-family: 'Avenir';
    font-size: 21px;
    color: white;
  }
  
  .escribenos p a {
    font-family: 'Avenir Black';
    text-decoration: none;
    color: white;
  }
  
  .lima-peru {
    margin-top: 20px;
    font-family: 'Avenir Black';
    font-size: 19px;
    color: white;
  }
  .copyright {
    font-family: 'Avenir';
    font-size: 15px;
    color: white;
    position: absolute;
    left: 50px;
    bottom: 15px;
  }
  
  .powered {
    font-family: 'Avenir';
    font-size: 15px;
    color: white;
    position: absolute;
    right: 50px;
    bottom: 15px;
  }
}